<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="jACT-R">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository"/>
			<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
			<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
			<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
			<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
			<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
			<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
			<unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
			<unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.collections.feature.source.feature.group" version="9.2.0.v20180518-1448"/>
			<repository location="http://download.eclipse.org/collections/9.2.0/repository"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.launching.macosx.MacOSXType/Java SE 8 [1.8.0]"/>
	<includeBundles>
		<plugin id="org.eclipse.pde.ui"/>
		<plugin id="org.eclipse.pde.ui.templates"/>
		<plugin id="org.eclipse.pde.launching"/>
		<plugin id="org.eclipse.pde"/>
		<plugin id="org.eclipse.jdt"/>
		<plugin id="org.eclipse.jdt.ui"/>
		<plugin id="org.commonreality.netty.core"/>
		<plugin id="org.commonreality.osgi"/>
		<plugin id="org.jactr.launching"/>
		<plugin id="org.jactr.osgi"/>
		<plugin id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
		<plugin id="org.antlr.runtime" version="3.2.0.v201101311130"/>
		<plugin id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
		<plugin id="org.eclipse.collections" version="9.2.0.v20180518-1448"/>
		<plugin id="com.ibm.icu"/>
		<plugin id="com.ibm.icu.source"/>
		<plugin id="javax.annotation"/>
		<plugin id="javax.annotation.source"/>
		<plugin id="javax.inject"/>
		<plugin id="javax.inject.source"/>
		<plugin id="javax.servlet" version="3.1.0.v201410161800"/>
		<plugin id="javax.servlet" version="3.0.0.v201112011016"/>
		<plugin id="javax.servlet.source"/>
		<plugin id="org.antlr.runtime.source"/>
		<plugin id="org.apache.batik.constants"/>
		<plugin id="org.apache.batik.constants.source"/>
		<plugin id="org.apache.batik.css"/>
		<plugin id="org.apache.batik.css.source"/>
		<plugin id="org.apache.batik.i18n"/>
		<plugin id="org.apache.batik.i18n.source"/>
		<plugin id="org.apache.batik.util"/>
		<plugin id="org.apache.batik.util.source"/>
		<plugin id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
		<plugin id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
		<plugin id="org.apache.commons.cli.source"/>
		<plugin id="org.apache.commons.collections.source"/>
		<plugin id="org.apache.commons.io"/>
		<plugin id="org.apache.commons.io.source"/>
		<plugin id="org.apache.commons.jxpath"/>
		<plugin id="org.apache.commons.jxpath.source"/>
		<plugin id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
		<plugin id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
		<plugin id="org.apache.commons.lang.source"/>
		<plugin id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
		<plugin id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
		<plugin id="org.apache.lucene.analyzers-common" version="7.1.0.v20180122-2126"/>
		<plugin id="org.apache.lucene.analyzers-common" version="6.1.0.v20161115-1612"/>
		<plugin id="org.apache.lucene.analyzers-common.source"/>
		<plugin id="org.apache.lucene.analyzers-smartcn"/>
		<plugin id="org.apache.lucene.analyzers-smartcn.source"/>
		<plugin id="org.apache.lucene.core" version="6.1.0.v20170814-1820"/>
		<plugin id="org.apache.lucene.core" version="3.5.0.v20120725-1805"/>
		<plugin id="org.apache.lucene.core" version="7.1.0.v20171214-1510"/>
		<plugin id="org.apache.lucene.core.source"/>
		<plugin id="org.apache.xmlgraphics"/>
		<plugin id="org.apache.xmlgraphics.source"/>
		<plugin id="org.commonreality.osgi.source"/>
		<plugin id="org.eclipse.ant.core"/>
		<plugin id="org.eclipse.ant.core.source"/>
		<plugin id="org.eclipse.collections.source"/>
		<plugin id="org.eclipse.compare"/>
		<plugin id="org.eclipse.compare.core"/>
		<plugin id="org.eclipse.compare.core.source"/>
		<plugin id="org.eclipse.compare.source"/>
		<plugin id="org.eclipse.core.commands"/>
		<plugin id="org.eclipse.core.commands.source"/>
		<plugin id="org.eclipse.core.contenttype"/>
		<plugin id="org.eclipse.core.contenttype.source"/>
		<plugin id="org.eclipse.core.databinding"/>
		<plugin id="org.eclipse.core.databinding.observable"/>
		<plugin id="org.eclipse.core.databinding.observable.source"/>
		<plugin id="org.eclipse.core.databinding.property"/>
		<plugin id="org.eclipse.core.databinding.property.source"/>
		<plugin id="org.eclipse.core.databinding.source"/>
		<plugin id="org.eclipse.core.expressions"/>
		<plugin id="org.eclipse.core.expressions.source"/>
		<plugin id="org.eclipse.core.filebuffers"/>
		<plugin id="org.eclipse.core.filebuffers.source"/>
		<plugin id="org.eclipse.core.filesystem"/>
		<plugin id="org.eclipse.core.filesystem.macosx"/>
		<plugin id="org.eclipse.core.filesystem.source"/>
		<plugin id="org.eclipse.core.jobs"/>
		<plugin id="org.eclipse.core.jobs.source"/>
		<plugin id="org.eclipse.core.net"/>
		<plugin id="org.eclipse.core.net.source"/>
		<plugin id="org.eclipse.core.resources"/>
		<plugin id="org.eclipse.core.resources.source"/>
		<plugin id="org.eclipse.core.runtime"/>
		<plugin id="org.eclipse.core.runtime.source"/>
		<plugin id="org.eclipse.core.variables"/>
		<plugin id="org.eclipse.core.variables.source"/>
		<plugin id="org.eclipse.debug.core"/>
		<plugin id="org.eclipse.debug.core.source"/>
		<plugin id="org.eclipse.debug.ui"/>
		<plugin id="org.eclipse.debug.ui.source"/>
		<plugin id="org.eclipse.e4.core.commands"/>
		<plugin id="org.eclipse.e4.core.commands.source"/>
		<plugin id="org.eclipse.e4.core.contexts"/>
		<plugin id="org.eclipse.e4.core.contexts.source"/>
		<plugin id="org.eclipse.e4.core.di"/>
		<plugin id="org.eclipse.e4.core.di.annotations"/>
		<plugin id="org.eclipse.e4.core.di.annotations.source"/>
		<plugin id="org.eclipse.e4.core.di.extensions"/>
		<plugin id="org.eclipse.e4.core.di.extensions.source"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier"/>
		<plugin id="org.eclipse.e4.core.di.extensions.supplier.source"/>
		<plugin id="org.eclipse.e4.core.di.source"/>
		<plugin id="org.eclipse.e4.core.services"/>
		<plugin id="org.eclipse.e4.core.services.source"/>
		<plugin id="org.eclipse.e4.emf.xpath"/>
		<plugin id="org.eclipse.e4.emf.xpath.source"/>
		<plugin id="org.eclipse.e4.ui.bindings"/>
		<plugin id="org.eclipse.e4.ui.bindings.source"/>
		<plugin id="org.eclipse.e4.ui.css.core"/>
		<plugin id="org.eclipse.e4.ui.css.core.source"/>
		<plugin id="org.eclipse.e4.ui.css.swt"/>
		<plugin id="org.eclipse.e4.ui.css.swt.source"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme"/>
		<plugin id="org.eclipse.e4.ui.css.swt.theme.source"/>
		<plugin id="org.eclipse.e4.ui.di"/>
		<plugin id="org.eclipse.e4.ui.di.source"/>
		<plugin id="org.eclipse.e4.ui.model.workbench"/>
		<plugin id="org.eclipse.e4.ui.model.workbench.source"/>
		<plugin id="org.eclipse.e4.ui.services"/>
		<plugin id="org.eclipse.e4.ui.services.source"/>
		<plugin id="org.eclipse.e4.ui.widgets"/>
		<plugin id="org.eclipse.e4.ui.widgets.source"/>
		<plugin id="org.eclipse.e4.ui.workbench"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.cocoa"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.cocoa.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.source"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt"/>
		<plugin id="org.eclipse.e4.ui.workbench.swt.source"/>
		<plugin id="org.eclipse.e4.ui.workbench3"/>
		<plugin id="org.eclipse.e4.ui.workbench3.source"/>
		<plugin id="org.eclipse.emf.common"/>
		<plugin id="org.eclipse.emf.ecore"/>
		<plugin id="org.eclipse.emf.ecore.change"/>
		<plugin id="org.eclipse.emf.ecore.xmi"/>
		<plugin id="org.eclipse.equinox.app"/>
		<plugin id="org.eclipse.equinox.app.source"/>
		<plugin id="org.eclipse.equinox.bidi"/>
		<plugin id="org.eclipse.equinox.bidi.source"/>
		<plugin id="org.eclipse.equinox.common"/>
		<plugin id="org.eclipse.equinox.common.source"/>
		<plugin id="org.eclipse.equinox.frameworkadmin"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
		<plugin id="org.eclipse.equinox.http.jetty"/>
		<plugin id="org.eclipse.equinox.http.jetty.source"/>
		<plugin id="org.eclipse.equinox.http.servlet"/>
		<plugin id="org.eclipse.equinox.http.servlet.source"/>
		<plugin id="org.eclipse.equinox.launcher"/>
		<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
		<plugin id="org.eclipse.equinox.launcher.source"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
		<plugin id="org.eclipse.equinox.p2.core"/>
		<plugin id="org.eclipse.equinox.p2.core.source"/>
		<plugin id="org.eclipse.equinox.p2.director"/>
		<plugin id="org.eclipse.equinox.p2.director.app"/>
		<plugin id="org.eclipse.equinox.p2.director.app.source"/>
		<plugin id="org.eclipse.equinox.p2.director.source"/>
		<plugin id="org.eclipse.equinox.p2.engine"/>
		<plugin id="org.eclipse.equinox.p2.engine.source"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
		<plugin id="org.eclipse.equinox.p2.metadata"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
		<plugin id="org.eclipse.equinox.p2.metadata.source"/>
		<plugin id="org.eclipse.equinox.p2.publisher"/>
		<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
		<plugin id="org.eclipse.equinox.p2.publisher.eclipse.source"/>
		<plugin id="org.eclipse.equinox.p2.publisher.source"/>
		<plugin id="org.eclipse.equinox.p2.repository"/>
		<plugin id="org.eclipse.equinox.p2.repository.source"/>
		<plugin id="org.eclipse.equinox.p2.repository.tools"/>
		<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
		<plugin id="org.eclipse.equinox.p2.updatesite"/>
		<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
		<plugin id="org.eclipse.equinox.preferences"/>
		<plugin id="org.eclipse.equinox.preferences.source"/>
		<plugin id="org.eclipse.equinox.registry"/>
		<plugin id="org.eclipse.equinox.registry.source"/>
		<plugin id="org.eclipse.equinox.security"/>
		<plugin id="org.eclipse.equinox.security.macosx"/>
		<plugin id="org.eclipse.equinox.security.macosx.source"/>
		<plugin id="org.eclipse.equinox.security.source"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
		<plugin id="org.eclipse.help"/>
		<plugin id="org.eclipse.help.base"/>
		<plugin id="org.eclipse.help.base.source"/>
		<plugin id="org.eclipse.help.source"/>
		<plugin id="org.eclipse.help.ui"/>
		<plugin id="org.eclipse.help.ui.source"/>
		<plugin id="org.eclipse.jdt.compiler.apt"/>
		<plugin id="org.eclipse.jdt.compiler.tool"/>
		<plugin id="org.eclipse.jdt.core"/>
		<plugin id="org.eclipse.jdt.core.manipulation"/>
		<plugin id="org.eclipse.jdt.debug"/>
		<plugin id="org.eclipse.jdt.debug.ui"/>
		<plugin id="org.eclipse.jdt.junit"/>
		<plugin id="org.eclipse.jdt.junit.core"/>
		<plugin id="org.eclipse.jdt.junit.runtime"/>
		<plugin id="org.eclipse.jdt.launching"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.http.source"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.io.source"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.security.source"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.server.source"/>
		<plugin id="org.eclipse.jetty.servlet"/>
		<plugin id="org.eclipse.jetty.servlet.source"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.source"/>
		<plugin id="org.eclipse.jface"/>
		<plugin id="org.eclipse.jface.databinding"/>
		<plugin id="org.eclipse.jface.databinding.source"/>
		<plugin id="org.eclipse.jface.source"/>
		<plugin id="org.eclipse.jface.text"/>
		<plugin id="org.eclipse.jface.text.source"/>
		<plugin id="org.eclipse.ltk.core.refactoring"/>
		<plugin id="org.eclipse.ltk.core.refactoring.source"/>
		<plugin id="org.eclipse.ltk.ui.refactoring"/>
		<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
		<plugin id="org.eclipse.osgi"/>
		<plugin id="org.eclipse.osgi.compatibility.state"/>
		<plugin id="org.eclipse.osgi.compatibility.state.source"/>
		<plugin id="org.eclipse.osgi.services"/>
		<plugin id="org.eclipse.osgi.services.source"/>
		<plugin id="org.eclipse.osgi.source"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.osgi.util.source"/>
		<plugin id="org.eclipse.pde.build"/>
		<plugin id="org.eclipse.pde.core"/>
		<plugin id="org.eclipse.search"/>
		<plugin id="org.eclipse.search.source"/>
		<plugin id="org.eclipse.swt"/>
		<plugin id="org.eclipse.swt.cocoa.macosx.x86_64"/>
		<plugin id="org.eclipse.swt.cocoa.macosx.x86_64.source"/>
		<plugin id="org.eclipse.team.core"/>
		<plugin id="org.eclipse.team.core.source"/>
		<plugin id="org.eclipse.team.ui"/>
		<plugin id="org.eclipse.team.ui.source"/>
		<plugin id="org.eclipse.text"/>
		<plugin id="org.eclipse.text.source"/>
		<plugin id="org.eclipse.ui"/>
		<plugin id="org.eclipse.ui.cheatsheets"/>
		<plugin id="org.eclipse.ui.cheatsheets.source"/>
		<plugin id="org.eclipse.ui.cocoa"/>
		<plugin id="org.eclipse.ui.cocoa.source"/>
		<plugin id="org.eclipse.ui.console"/>
		<plugin id="org.eclipse.ui.console.source"/>
		<plugin id="org.eclipse.ui.editors"/>
		<plugin id="org.eclipse.ui.editors.source"/>
		<plugin id="org.eclipse.ui.forms"/>
		<plugin id="org.eclipse.ui.forms.source"/>
		<plugin id="org.eclipse.ui.genericeditor"/>
		<plugin id="org.eclipse.ui.genericeditor.source"/>
		<plugin id="org.eclipse.ui.ide"/>
		<plugin id="org.eclipse.ui.ide.source"/>
		<plugin id="org.eclipse.ui.intro"/>
		<plugin id="org.eclipse.ui.intro.source"/>
		<plugin id="org.eclipse.ui.navigator"/>
		<plugin id="org.eclipse.ui.navigator.resources"/>
		<plugin id="org.eclipse.ui.navigator.resources.source"/>
		<plugin id="org.eclipse.ui.navigator.source"/>
		<plugin id="org.eclipse.ui.source"/>
		<plugin id="org.eclipse.ui.trace"/>
		<plugin id="org.eclipse.ui.views"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed"/>
		<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
		<plugin id="org.eclipse.ui.views.source"/>
		<plugin id="org.eclipse.ui.workbench"/>
		<plugin id="org.eclipse.ui.workbench.source"/>
		<plugin id="org.eclipse.ui.workbench.texteditor"/>
		<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
		<plugin id="org.eclipse.update.configurator"/>
		<plugin id="org.eclipse.update.configurator.source"/>
		<plugin id="org.hamcrest.core"/>
		<plugin id="org.jactr.launching.source"/>
		<plugin id="org.jactr.osgi.source"/>
		<plugin id="org.junit"/>
		<plugin id="org.sat4j.core"/>
		<plugin id="org.sat4j.pb"/>
		<plugin id="org.tukaani.xz"/>
		<plugin id="org.tukaani.xz.source"/>
		<plugin id="org.w3c.css.sac"/>
		<plugin id="org.w3c.css.sac.source"/>
		<plugin id="org.w3c.dom.events"/>
		<plugin id="org.w3c.dom.events.source"/>
		<plugin id="org.w3c.dom.smil"/>
		<plugin id="org.w3c.dom.smil.source"/>
		<plugin id="org.w3c.dom.svg"/>
		<plugin id="org.w3c.dom.svg.source"/>
	</includeBundles>
</target>