<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jactr.eclipse.doc"
   name="%pluginName"
   version="1.0.8.qualifier"
   provider-name="%pluginProvider">
   <requires>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.intro.universal"/>
      <import plugin="org.eclipse.ui"/>
   </requires>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            name="jACT-R"
            id="org.jactr.eclipse.doc.category"/>
      <category
            id="org.jactr.eclipse.doc.concepts.category"
            name="jACT-R Concepts"
            parentCategory="org.jactr.eclipse.doc.category">
      </category>
      <category
            id="org.jactr.eclipse.doc.ide.category"
            name="jACT-R IDE"
            parentCategory="org.jactr.eclipse.doc.category">
      </category>
      <cheatsheet
            category="org.jactr.eclipse.help.category/org.jactr.eclipse.help.ide.category"
            composite="true"
            contentFile="sheets/bootcamp.xml"
            id="org.jactr.eclipse.doc.bootcamp"
            name="Eclipse Basics BootCamp">
         <description>
            Provides a quick introduction to the basics of the Eclipse IDE with a focus on jACT-R modeling.
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.jactr.eclipse.doc.category/org.jactr.eclipse.doc.ide.category"
            composite="true"
            contentFile="sheets/basics/importExport.xml"
            id="org.jactr.eclipse.doc.ide.importExport"
            name="Import/Export">
      </cheatsheet>
      <category
            id="org.jactr.eclipse.doc.tutorial.category"
            name="jACT-R Tutorials"
            parentCategory="org.jactr.eclipse.doc.category">
      </category>
      <cheatsheet
            category="org.jactr.eclipse.doc.category/org.jactr.eclipse.doc.tutorial.category/"
            composite="true"
            contentFile="sheets/tutorial/unit1/unit1.xml"
            id="org.jactr.eclipse.doc.tutorial.unit1"
            name="Unit 1 Tutorial">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="toc.xml"/>
      <toc
            file="tocconcepts.xml"
            primary="false"/>
      <toc
            extradir="org.jactr.eclipse/"
            file="tocgettingstarted.xml"
            primary="false"/>
      <toc
            file="tocreference.xml"
            primary="false"/>
      <toc
            file="toctutorials.xml"
            primary="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorials.xml">
      </configExtension>
   </extension>

</plugin>
