<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jactr.eclipse.production.handler.VisualizeHandler"
            description="View all production relationships"
            id="org.jactr.eclipse.production.command.visualize.all"
            name="All">
      </command>
      <command
            defaultHandler="org.jactr.eclipse.production.handler.VisualizeHandler"
            description="Simple production sequence around current"
            id="org.jactr.eclipse.production.command.visualize.sequence"
            name="Sequence">
      </command>
      <command
            defaultHandler="org.jactr.eclipse.production.handler.VisualizeHandler"
            description="View all productions that can fire before the current"
            id="org.jactr.eclipse.production.command.visualize.radial.in"
            name="Previous">
      </command>
      <command
            defaultHandler="org.jactr.eclipse.production.handler.VisualizeHandler"
            description="View all productions that can fire after the current"
            id="org.jactr.eclipse.production.command.visualize.radial.out"
            name="Following">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.jactr.eclipse.ui.editor.context?after=jactr">
         <menu
               icon="icons/production.gif"
               label="Visualize Productions"
               mnemonic="V">
            <command
                  commandId="org.jactr.eclipse.production.command.visualize.all"
                  icon="icons/all.gif"
                  mnemonic="A"
                  style="push">
            </command>
            <separator
                  name="org.jactr.eclipse.production.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.jactr.eclipse.production.command.visualize.sequence"
                  icon="icons/sequence.gif"
                  mnemonic="S"
                  style="push">
            </command>
            <separator
                  name="org.jactr.eclipse.production.separator3"
                  visible="true">
            </separator>
            <!--
            <command
                  commandId="org.jactr.eclipse.production.command.visualize.sequence"
                  mnemonic="S"
                  style="push">
            </command>
            -->
            <command
                  commandId="org.jactr.eclipse.production.command.visualize.radial.in"
                  icon="icons/previous.gif"
                  mnemonic="P"
                  style="push">
            </command>
            <command
                  commandId="org.jactr.eclipse.production.command.visualize.radial.out"
                  icon="icons/follow.gif"
                  mnemonic="F"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jactr.eclipse.ui.views.category"
            class="org.jactr.eclipse.production.view.ProductionSequenceView"
            icon="icons/production.gif"
            id="org.jactr.eclipse.production.view.ProductionSequenceView"
            name="Production Sequence">
      </view>
   </extension>

</plugin>
