<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="associationMapper" name="Association Mapper" schema="schema/associationMapper.exsd"/>
   <extension-point id="associationFilter" name="Association Filter" schema="schema/associationFilter.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Associative Link Viewer"
            icon="icons/sample.gif"
            category="org.jactr.eclipse.ui.views.category"
            class="org.jactr.eclipse.association.ui.views.AssociationViewer"
            id="org.jactr.eclipse.association.ui.views.AssociationViewer">
      </view>
   </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jactr.eclipse.association.ui.handler.VisualizeHandler"
            description="View all associative relationships"
            id="org.jactr.eclipse.association.command.visualize.all"
            name="All">
      </command>
      <command
            defaultHandler="org.jactr.eclipse.association.ui.handler.VisualizeHandler"
            description="View all associations with current"
            id="org.jactr.eclipse.association.command.visualize.radial.in"
            name="Current">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.jactr.eclipse.ui.editor.context?after=jactr">
         <menu
               icon="icons/chunk.gif"
               label="Visualize Associations"
               mnemonic="V">
            <command
                  commandId="org.jactr.eclipse.association.command.visualize.all"
                  icon="icons/all.gif"
                  mnemonic="A"
                  style="push">
            </command>
           
            <command
                  commandId="org.jactr.eclipse.association.command.visualize.radial.in"
                  icon="icons/previous.gif"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.jactr.eclipse.association.ui.associationMapper">
      <associationMapper
            class="org.jactr.eclipse.association.ui.mapper.impl.DefaultAssociationMapper"
            name="Default" />
   </extension>
   <extension
         point="org.jactr.eclipse.association.ui.associationFilter">
      <associationFilter
            class="org.jactr.eclipse.association.ui.filter.providers.ChunkTypeFilterProvider">
      </associationFilter>
      <associationFilter
            class="org.jactr.eclipse.association.ui.filter.providers.StrengthFilterProvider">
      </associationFilter>
   </extension>

</plugin>
