<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   
<!--  
   -->

   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%ACTRModelEditor.name"
            extensions="jactrx"
            icon="icons/full/basic/jactr.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.jactr.eclipse.ui.editor.JACTRModelEditor"
            id="org.jactr.eclipse.ui.editor.JACTRModelEditor">
      </editor>
      <editor
            name="%ACTRModelEditor.name"
            extensions="lisp"
            icon="icons/full/basic/jactr.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.jactr.eclipse.ui.editor.LispModelEditor"
            id="org.jactr.eclipse.ui.editor.LispModelEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective"
            icon="icons/full/basic/jactr-run.gif"
            id="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective"
            name="jACT-R Run">
      </perspective>
   </extension>
   
      

      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="org.jactr.eclipse.ui.perspective.ACTRPerspective">
            <perspectiveShortcut
                  id="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective">
            </perspectiveShortcut>
            <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
            <perspectiveShortcut
                  id="org.eclipse.jdt.ui.JavaPerspective">
            </perspectiveShortcut>
            <viewShortcut
                  id="org.jactr.eclipse.runtime.ui.visicon.VisiconViewer">
            </viewShortcut>
         </perspectiveExtension>
         
         
         <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
            <perspectiveShortcut id="org.jactr.eclipse.ui.perspective.ACTRPerspective"/>
            <perspectiveShortcut
                  id="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective">
            </perspectiveShortcut>
            <view id="org.jactr.eclipse.runtime.ui.log2.ModelLogView2" relative="org.eclipse.ui.console.ConsoleView" relationship="stack"/>
         </perspectiveExtension>
         
         <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
            <perspectiveShortcut id="org.jactr.eclipse.ui.perspective.ACTRPerspective"/>
            <perspectiveShortcut
                  id="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective">
            </perspectiveShortcut>
         </perspectiveExtension>
         
         <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
            <perspectiveShortcut id="org.jactr.eclipse.ui.perspective.ACTRPerspective"/>
            <perspectiveShortcut
                  id="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective">
            </perspectiveShortcut>
            <view id="org.jactr.eclipse.runtime.ui.log2.ModelLogView2" relative="org.eclipse.ui.console.ConsoleView" relationship="stack"/>
         </perspectiveExtension>
         <perspectiveExtension
               targetID="org.jactr.eclipse.ui.perspective.ACTRRuntimePerspective">
            <perspectiveShortcut
                  id="org.jactr.eclipse.ui.perspective.ACTRPerspective">
            </perspectiveShortcut>
            <perspectiveShortcut
                  id="org.eclipse.debug.ui.DebugPerspective">
            </perspectiveShortcut>
            <perspectiveShortcut
                  id="org.eclipse.jdt.ui.JavaPerspective">
            </perspectiveShortcut>
            <viewShortcut
                  id="org.jactr.eclipse.runtime.ui.visicon.VisiconViewer">
            </viewShortcut>
         </perspectiveExtension>
         
      </extension>
      <extension
            point="org.eclipse.ui.ide.projectNatureImages">
         <image
               natureId="org.jactr.eclipse.core.project.actrNature"
               icon="icons/full/basic/jactr-project.gif"
               id="project.actrNature"/>
      </extension>
    
	  <extension point="org.eclipse.ui.preferencePages">
         <page
               category="org.jactr.io2.jactr.ModelFragment"
               class="org.jactr.eclipse.ui.preferences.ACTRPreferencePage"
               id="ACTRPreferencePage"
               name="jACT-R (Old)">
         </page>
         
         <page id="UnitCompilersPreferencePage"
               name="Compilers"
               class="org.jactr.eclipse.ui.preferences.UnitCompilersPreferencePage"
               category="ACTRPreferencePage">
         </page>
        
         <page id="ACTREditorPreferencePage"
               name="Editor"
               class="org.jactr.eclipse.ui.preferences.ACTREditorPreferencePage"
               category="ACTRPreferencePage">
         </page>
         
         <page id="ACTREditorColorPreferencePage"
               name="Colors"
               class="org.jactr.eclipse.ui.preferences.ACTREditorColorPreferencePage"
               category="ACTREditorPreferencePage">
         </page>
         
         <page id="ACTRTemplatePreferencePage"
               name="Templates"
               class="org.jactr.eclipse.ui.preferences.TemplatesPreferencePage"
               category="ACTREditorPreferencePage">
         </page>
         <page
               category="ACTREditorPreferencePage"
               class="org.jactr.eclipse.ui.preferences.JACTREditorPreferencePage"
               id="JACTREditorPreferencePage"
               name="jACT-R Editor">
         </page>
 	  </extension>
 	  
 	  <extension point="org.eclipse.ui.editors.templates">
 	  
      <contextType name="RHS:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.rhs"/>
      <contextType name="LHS:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.lhs"/>      
      <contextType name="Declarative:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.declarative"/>      
      <contextType name="Procedural:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.procedural"/>      
      <contextType name="Slots:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.slot"/>
      <contextType name="Conditional slots:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.conditionals"/>
      <contextType name="Parameters:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.parameters"/>
      <contextType name="Parameter:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.parameter"/>
      <contextType name="Modules:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.modules"/>
      <contextType name="Module:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.module"/>
      <contextType name="Extensions:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.extensions"/>
      <contextType name="Extension:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.extension"/>
      <contextType name="Model:jactr" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="jactr.modelContents"/>
      
      
      <contextType name="RHS:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.rhs"/>
      <contextType name="LHS:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.lhs"/>      
      <contextType name="Declarative:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.declarative"/>      
      <contextType name="Procedural:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.procedural"/>      
      <contextType name="Slots:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.slot"/>
      <contextType name="Parameters:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.parameters"/>
      <contextType name="Parameter:lisp" class="org.jactr.eclipse.ui.editor.template.ACTRContextType" id="lisp.parameter"/>
      
      
      <include file="templates/jactr-templates.xml"> </include>
      <include file="templates/lisp-templates.xml"> </include>
      </extension>
   <!--
    <extension
          point="org.eclipse.pde.ui.pluginContent">
       <wizard
             category="org.jactr.project.wizard"
             class="org.jactr.eclipse.ui.wizards.templates.ModuleWizard"
             icon="icons/full/basic/jactr-project.gif"
             id="wizards.templates.ModuleWizard"
             java="true"
             name="jACT-R Module Wizard"
             pureOSGi="false"
             rcp="false"
             requiresActivator="false"
             ui-content="false">
             <description>Sets up the basic structure for contributing a new Module to jACT-R. 
             </description>
       </wizard>
       <wizard
             category="org.jactr.project.wizard"
             class="org.jactr.eclipse.ui.wizards.templates.InstrumentWizard"
             icon="icons/full/basic/jactr-project.gif"
             id="wizards.templates.InstrumntWizard"
             java="true"
             name="jACT-R Instrument Wizard"
             pureOSGi="false"
             rcp="false"
             requiresActivator="false"
             ui-content="false">
          <description>
             Sets up the basic structure for contributing a new Module to jACT-R.
          </description>
       </wizard>      
    </extension>
    <extension
          point="org.eclipse.pde.ui.templates">
       <template
             class="org.jactr.eclipse.ui.wizards.templates.ModuleContributorTemplateSection"
             contributingId="org.jactr.eclipse.ui.test"
             icon="icons/full/basic/jactr-project.gif"
             id="wizards.templates.ModuleContributorTemplateSection"
             name="jACT-R Module Wizard"/>   
       <template
             class="org.jactr.eclipse.ui.wizards.templates.DefaultACTRContributorTemplateSection"
             contributingId="org.jactr.eclipse.ui.test"
             icon="icons/full/basic/jactr-project.gif"
             id="wizards.templates.DefaultACTRContributorTemplate"
             name="jACT-R Configuration"/>
    </extension>
    
    -->
    <extension
          point="org.eclipse.ui.commands">
       <command
             id="org.jactr.eclipse.ui.commands.convertProject"
             defaultHandler="org.jactr.eclipse.ui.handlers.ConvertToACTRProjectHandler"
             name="Convert jACT-R Project">
       </command>
       <command
             defaultHandler="org.jactr.eclipse.ui.commands.ArchiveRun"
             description="Archive run"
             id="org.jactr.eclipse.ui.command.archive"
             name="Archive">
       </command>
       <command
             defaultHandler="org.jactr.eclipse.ui.commands.UseTools"
             description="Dependency Tools"
             id="org.jactr.eclipse.ui.command.useTools"
             name="Dependency Tools">
       </command>
       <command
             categoryId="org.eclipse.ui.category.textEditor"
             description="Format selection"
             id="org.jactr.eclipse.ui.format"
             name="Format">
	  </command>
       <command
             categoryId="org.eclipse.ui.category.edit"
             id="org.jactr.eclipse.ui.editor.edit.comment"
             name="Comment">
       </command>
       
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       
       <!-- package nav-->
       <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu
                icon="icons/full/basic/jactr.gif"
                id="org.jactr.eclipse.ui.menu"
                label="jACT-R"
                tooltip="jACT-R Tools...">
          <command
                commandId="org.jactr.eclipse.ui.commands.convertProject"
                icon="icons/full/basic/jactr-project.gif"
                id="org.jactr.eclipse.ui.menu.convertProject"
                label="Update jACT-R Project"
                style="push"
                tooltip="Updates old projects to the new infrastructure">
             <visibleWhen
                      checkEnabled="false">
                      <iterate
                            ifEmpty="false">
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                            <not>
                               <test
                                     property="org.eclipse.core.resources.projectNature"
                                     value="org.eclipse.xtext.ui.shared.xtextNature">
                               </test>
                            </not>
                         </adapt>
                      </iterate>
                </visibleWhen>
          </command>
          <command
                commandId="org.jactr.eclipse.ui.command.archive"
                id="org.jactr.eclipse.ui.menu.archive"
                label="Archive run"
                style="push"
                tooltip="Archive and delete selected run">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <adapt
                         type="org.eclipse.core.resources.IFolder">
                   </adapt>
                </iterate>
             </visibleWhen>
          </command>
          
          <command
                commandId="org.jactr.eclipse.ui.command.useTools"
                icon="icons/full/basic/library.gif"
                id="org.jactr.eclipse.ui.menu.useTools"
                label="Dependency Tool"
                style="push"
                tooltip="Select what tools to use in your jACT-R project">
             <visibleWhen
                      checkEnabled="false">
                      <iterate
                            ifEmpty="false">
                         <adapt
                               type="org.eclipse.core.resources.IProject">
                         </adapt>
                      </iterate>
                </visibleWhen>
          </command>
          
          </menu>
       </menuContribution>
       <!-- package nav -->

    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.jactr.eclipse.ui.preferences.UIPreferenceInitiliazer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.exportWizards">
       <category
             id="org.jactr.export"
             name="jACT-R">
       </category>
       
       <wizard
            name="Project as Archive"
            icon="icons/full/basic/jactr-project.gif"
            category="org.jactr.export"            
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            id="org.eclipse.ui.wizards.export.ZipFile">
         <description>
            Export project as zip file
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerType="org.jactr.eclipse.ui.editor.highlighter.reference"
             name="org.jactr.eclipse.ui.editor.highlighter">
       </type>
       <type
             markerType="org.jactr.eclipse.ui.editor.highlighter.reference"
             name="org.jactr.eclipse.ui.editor.highlighter.variable"
             super="org.jactr.eclipse.ui.editor.highlighter">
       </type>
       <type
             markerType="org.jactr.eclipse.ui.editor.highlighter.reference"
             name="org.jactr.eclipse.ui.editor.highlighter.chunk"
             super="org.jactr.eclipse.ui.editor.highlighter">
       </type>
       <type
             markerType="org.jactr.eclipse.ui.editor.highlighter.reference"
             name="org.jactr.eclipse.ui.editor.highlighter.chunktype"
             super="org.jactr.eclipse.ui.editor.highlighter">
       </type>
    </extension>
    <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="org.jactr.eclipse.ui.editor.highlighter.variable"
             colorPreferenceKey="variableColorKey"
             colorPreferenceValue="153,0,0"
             contributesToHeader="false"
             highlightPreferenceKey="variableHighlightColorKey"
             highlightPreferenceValue="false"
             icon="icons/full/basic/production.gif"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="variableGoToNextKey"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="variableGoToPreviousKey"
             label="ACTR : Production Variables"
             overviewRulerPreferenceKey="variableOverviewRuleKey"
             overviewRulerPreferenceValue="true"
             presentationLayer="5"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="variableShowNextPrevKey"
             textPreferenceKey="variableTextKey"
             textPreferenceValue="true"
             textStylePreferenceKey="variableTextStyleKey"
             textStylePreferenceValue="BOX"
             verticalRulerPreferenceKey="variableVerticalRulerKey"
             verticalRulerPreferenceValue="false">
       </specification>
       <specification
             annotationType="org.jactr.eclipse.ui.editor.highlighter.chunk"
             colorPreferenceKey="chunkColorKey"
             colorPreferenceValue="0,153,51"
             contributesToHeader="false"
             highlightPreferenceKey="chunkHighlightColorKey"
             highlightPreferenceValue="false"
             icon="icons/full/basic/chunk.gif"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="chunkGoToNextKey"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="chunkGoToPreviousKey"
             label="ACTR : Chunk References"
             overviewRulerPreferenceKey="chunkOverviewRuleKey"
             overviewRulerPreferenceValue="true"
             presentationLayer="5"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="chunkShowNextPrevKey"
             textPreferenceKey="chunkTextKey"
             textPreferenceValue="true"
             textStylePreferenceKey="chunkTextStyleKey"
             textStylePreferenceValue="BOX"
             verticalRulerPreferenceKey="chunkVerticalRulerKey"
             verticalRulerPreferenceValue="true">
       </specification>
       <specification
             annotationType="org.jactr.eclipse.ui.editor.highlighter.chunktype"
             colorPreferenceKey="chunktypeColorKey"
             colorPreferenceValue="102,0,153"
             contributesToHeader="false"
             highlightPreferenceKey="chunktypeHighlightColorKey"
             highlightPreferenceValue="false"
             icon="icons/full/basic/chunktype.gif"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="chunktypeGoToNextKey"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="chunktypeGoToPreviousKey"
             label="ACTR : ChunkType References"
             overviewRulerPreferenceKey="chunktypeOverviewRuleKey"
             overviewRulerPreferenceValue="true"
             presentationLayer="5"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="chunktypeShowNextPrevKey"
             textPreferenceKey="chunktypeTextKey"
             textPreferenceValue="true"
             textStylePreferenceKey="chunktypeTextStyleKey"
             textStylePreferenceValue="BOX"
             verticalRulerPreferenceKey="chunktypeVerticalRulerKey"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    <extension
          id="org.jactr.eclipse.ui.editor.highlighter.reference"
          name="Reference Marker"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="false">
       </persistent>
       <super
             type="org.eclipse.core.resources.textmarker">
       </super>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.jactr.eclipse.ui.format"
             contextId="org.eclipse.ui.textEditorScope"
             platform="carbon"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+SHIFT+F">
       </key>
       <key
             commandId="org.jactr.eclipse.ui.format"
             contextId="org.eclipse.ui.textEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="CTRL+SHIFT+F">
       </key>
       
       <key
             commandId="org.jactr.eclipse.ui.editor.edit.comment"
             contextId="org.eclipse.ui.textEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             platform="carbon"
             sequence="M1+/">
       </key>
       <key
             commandId="org.jactr.eclipse.ui.editor.edit.comment"
             contextId="org.eclipse.ui.textEditorScope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="CTRL+/">
       </key>
       <key
            platform="carbon"
            sequence="M1+SHIFT+B"
            contextId="org.eclipse.ui.textEditorScope"
            commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key
            sequence="CTRL+SHIFT+B"
            contextId="org.eclipse.ui.textEditorScope"
            commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <!--
            -->
    </extension>
 	  
    
</plugin>
